<!DOCTYPE html>
<html lang="en" >
    <head>
      <meta charset="UTF-8">
        {% load static %}
        <title></title>
        <link rel="stylesheet" href="{% static 'css/amc.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>
    <body>
        <div class="header">
            <a href="#default" class="logo">Prevention > Cure</a>
                <div class="header-right">
                    <a class="active head" href="#home">Home</a>
                    <a class="head" href="http://127.0.0.1:8000/Assets">Asset Register</a>
                    <a class="head" href="http://127.0.0.1:8000/SparesUpKeep">Spares Upkeep</a>
                    <a class="head" href="http://127.0.0.1:8000/MaintenanceLog">Maintenance Log</a>
                    <a class="head" href="http://127.0.0.1:8000/Timetable">Time Table</a>
                    <a class="head" href="http://127.0.0.1:8000/AMCRenewal">AMC Renewal</a>
                    <a class="head" href="http://127.0.0.1:8000/Invoice">Invoice</a>
                    <a class="head" href="http://127.0.0.1:8000/Notifications">Notifications</a>
            </div>
        </div>
        <div class="container">
            <div class="table">
                <div class="table-header">
                    <div class="header__item"><a id="mid" class="filter__link filter__link--number" href="#">Machine ID</a></div>
                    <div class="header__item"><a id="company" class="filter__link filter__link--number" href="#">Company</a></div>
                    <div class="header__item"><a id="category" class="filter__link filter__link--number" href="#">Category</a></div>
                    <div class="header__item"><a id="quantity" class="filter__link filter__link--number" href="#">Quantity</a></div>
                    <div class="header__item"><a id="fac" class="filter__link filter__link--number" href="#">Factory ID</a></div>
                    <div class="header__item"><a id="amc" class="filter__link filter__link--number" href="#">AMC Company</a></div>
                    <div class="header__item"><a id="expiry" class="filter__link filter__link--number" href="#">Expiry Date</a></div>
                </div>
                <div class="table-content">
					{% for entry in amc %}
						<div class="table-row">
							<div class="table-data">{{ entry.MachineID }}</div>
							<div class="table-data">{{ entry.Company }}</div>
							<div class="table-data">{{ entry.Category }}</div>
							<div class="table-data">{{ entry.Quantity }}</div>
							<div class="table-data">{{ entry.FactoryID }}</div>
                            <div class="table-data">{{ entry.AMCCompany }}</div>
							<div class="table-data">{{ entry.ExpiryDate }}</div>
						</div>
					{% endfor %}
				</div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script  src="{% static 'js/amc.js' %}"></script>
    </body>
</html>
