
{% extends 'header.html' %}

{% block content %}

{% load static %}
	{% block extra_css %}
   <!-- Specific template css here -->
   <link rel="stylesheet" href="{% static 'css/amc.css' %}">
	{% endblock %}

    <div style="background-color: #f5f9f8; width: 100%; height=100%;">
        <h4>Annual Maintenance Contract</h4>
    </div>
    <div class="search">
        
      <form>
        <div class="form-group">
            <label>Machine ID</label>
            <input type="number" name="mid1" id="mid1" placeholder="Enter Machine ID">
            <input type="submit" name="submit" value="Search">
        </div>
      </form>
    </div>
    
<div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="mid" class="filter__link filter__link--number" href="#">Machine ID</a></div>
			<div class="header__item"><a id="company" class="filter__link filter__link--number" href="#">Facility</a></div>
			<div class="header__item"><a id="category" class="filter__link filter__link--number" href="#">Factory</a></div>
			<div class="header__item"><a id="quantity" class="filter__link filter__link--number" href="#">Production Line</a></div>
			<div class="header__item"><a id="amc" class="filter__link filter__link--number" href="#">Supplier</a></div>
            <div class="header__item"><a id="frequency" class="filter__link filter__link--number" href="#">Frequency</a></div>
			<div class="header__item"><a id="lastrenewal" class="filter__link filter__link--number" href="#">Last Renewal Date</a></div>
            <div class="header__item"><a id="fac" class="filter__link filter__link--number" href="#">Details</a></div>
		</div>
		<div class="table-content">
            {% for entry in amc %}
                <div class="table-row">
                    <div class="table-data">{{ entry.MachineID }}</div>
                    <div class="table-data">{{ entry.Facility }}</div>
                    <div class="table-data">{{ entry.Factory }}</div>
                    <div class="table-data">{{ entry.ProductionLine }}</div>
                    <div class="table-data">{{ entry.Supplier }}</div>
                    <div class="table-data">{{ entry.Frequency }}</div>
                    <div class="table-data">{{ entry.LastRenewal }}</div>
                    <div class="table-data">{{ entry.Details }}</div>
                </div>
            {% endfor %}
		</div>	
	</div>
</div>
    <a class="btn btn-full" href="http://127.0.0.1:8000/AMCRenewal/AMCForm/">Add AMC</a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    
<!--    <script src="js/amc.js"></script>-->
    <script  src="{% static 'js/amc.js' %}"></script>

{% endblock %}
