<!DOCTYPE html>
<html lang="en" >
	{% load static %}
	<head>
	  <meta charset="UTF-8">
	  <title></title>
		<link rel="stylesheet" href="{% static 'css/spares.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
	</head>

	<body>
		<div class="header">
		  	<a href="#default" class="logo">Gully Bois</a>
		  	<div class="header-right">
				<a class="active head" href="#home">Home</a>
				<a class="head" href="http://127.0.0.1:8000/Assets">Asset Register</a>
				<a class="head" href="http://127.0.0.1:8000/SparesUpKeep">Spares Upkeep</a>
				<a class="head" href="http://127.0.0.1:8000/MaintenanceLog">Maintenance Log</a>
				<a class="head" href="http://127.0.0.1:8000/Timetable">Time Table</a>
				<a class="head" href="http://127.0.0.1:8000/AMCRenewal">AMC Renewal</a>
				<a class="head" href="http://127.0.0.1:8000/Invoice">Invoice</a>
				<a class="head" href="http://127.0.0.1:8000/Notifications">Notifications</a>
		  	</div>
		</div>
		<div class="container">
			<div class="table">
				<div class="table-header">
					<div class="header__item"><a id="mid" class="filter__link filter__link--number" href="#">Machine ID</a></div>
					<div class="header__item"><a id="component" class="filter__link filter__link--number" href="#">Component Name</a></div>
					<div class="header__item"><a id="count" class="filter__link filter__link--number" href="#">Count</a></div>
				</div>
				<div class="table-content">
					{% for entry in spares %}
						<div class="table-row">
							<div class="table-data">{{ entry.MachineID }}</div>
							<div class="table-data">{{ entry.ComponentName }}</div>
							<div class="table-data">{{ entry.Count }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static 'js/spare.js' %}"></script>
	</body>
</html>
