* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  overflow: hidden;
  background-color: #35393d;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  text-decoration: none;
  font-size: 14px; 
  line-height: 28px;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
    font-color: #fcd088;
    border-bottom: 1px solid #fcd088;
    line-height: 22px;
}

.header a.active {
  color: #fcd088;
}

.header-right {
  float: right;
}


h8{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #35393d;
  margin:0px 0px 0px 20px;
  letter-spacing: 1.15px;
  font-weight: 150;
  font-style: italic;
  padding:5px;
}