@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h4 {
    color: #35393d;
    padding: 10px 10px 10px 64px;
    font-family: 'Asar';
    font-size: 36px;
    font-weight: 550;
}

.search {
  box-sizing:border-box;
  padding:20px;
  width:60%;
  margin:auto;
  background: rgba(233,233,233,0.9);
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.search h1, p{
  text-align:center;
}

.form-group{
  padding: 5px 0;
}

.form-group label{
  display:block;
  padding:8px 0px;
}

.form-group input, select{
  background: #f5f5f5;
  display:block;
  border:none;
  border-radius:5px;
  width:100%;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  padding:10px 0px 10px 8px;
}

.form-group label{
  font-size:17px;
  display:block;
  padding:8px 0px;
}

input[type=submit]{
  font-family: 'Montserrat', sans-serif;
  display:block;
  width:60%;
  margin:40px auto 10px auto;
  background: #333333;
  border:none;
  border-radius: 3px;
  text-transform:uppercase;
  color: #fff;
  font-size:17px;
  padding:8px 20px;
  /* fallback for old browsers */
  background: #0F2027;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

input[type=submit]:hover{
  cursor: pointer;
  font-weight:600;
  /* fallback for old browsers */
  background: #0F2027;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.btn {
    width: 10%;
    margin: 45px 45px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #35393d;
    border: 1px solid #35393d;
    color: #fff;
    margin-right: 15px;
}

.btn:hover,
.btn:active {
    background-color: #2b2e31;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #2b2e31;
}

.table {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.table-header {
  display: flex;
  width: 100%;
  background: #35393d;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #f5f9f8;  
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: #fcd088;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.filter__link::after {
  content: '';
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: '(desc)';
}
.filter__link.asc::after {
  content: '(asc)';
}
