* {
		margin: 0;
		padding: 0;
}

body {
		font-family: Nunito, arial, verdana;
}

#accordian {
		background: #004050;
		width: 30%;
		margin: 50px auto 0 auto;
		color: white;
		box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
        float: left;
}

#accordian h3 {
		background: #003040;
		background: linear-gradient(#003040, #002535);
}

#accordian h3 button {
		padding: 0 10px;
		font-size: 16px;
		line-height: 34px;
		display: block;
		color: white;
		text-decoration: none;
}

#accordian h3:hover {
		text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

i {
		margin-right: 10px;
}

#accordian li {
		list-style-type: none;
}

#accordian ul ul li a,
#accordian h4 {
		color: white;
		text-decoration: none;
		font-size: 16px;
		line-height: 27px;
		display: block;
		padding: 0 15px;
		transition: all 0.15s;
		position: relative;
}

#accordian ul ul li a:hover {
		background: #003545;
		border-left: 5px solid lightgreen;
}

#accordian ul ul {
		display: none;
}

#accordian li.active>ul {
		display: block;
}

#accordian ul ul ul {
		margin-left: 15px;
		border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
		content: "\f104";
		font-family: fontawesome;
		position: absolute;
		right: 10px;
		top: 0;
		font-size: 16px;
}

#accordian .active>a:not(:only-child):after {
		content: "\f107";
}