body{
    margin: 0;
    width: 98.7vw;
    height: 100vh;
    
}

* {box-sizing: border-box;
}

.logo{
  font-family: 'Asar' !important;
  margin-bottom: 0px;
  color: white;
  font-weight: 200;
  padding: 0 0 0 20px;
  letter-spacing: 1.2px;
  font-size: 26px;
  margin-top: 10px;
}

.icon2{
    margin: 21px -13px;
    font-size: 20px !important;
    display: inline-block;
    position: absolute;
}

.icon3{
    margin: 21px -14px;
    font-size: 20px !important;
    display: inline-block;
    position: absolute;
}

.subnav-content {
  display: none;
  position: absolute;
  float: left;
  background-color: #676869;
  z-index: 1;
  margin-left: 8px;

}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;  
  font-size: 14px; 
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.15px;
  font-weight: 500;
}

.subnav-content a {
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: #35393d;
}

.subnav:hover .subnav-content {
  display: inline-block;
}

.subnavsux {
    line-height: 16px !important;
    font-size: 13px !important;
    width: 100%;
    padding: 7px 10px 7px 10px !important;
    display: block;
    z-index: auto;
}

ion-icon {
    font-size: 38px;
    color: #f5f9f8;
    display: inline-block;
}
.iconss a{
    position: absolute;
    bottom: 0;
}

.nav-list li:last-of-type a:last-of-type{
    right: 10px;
}

ion-icon:hover{
    transition: 0.5s;
    color: #fcd088;
}

.nav-list{
    padding-left: 20px;
        float: left;
    display: block;
}

.header{
  overflow: hidden;
  background-color: #35393d;
  padding: 10px 0px 20px;
}

.header a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  text-decoration: none;
  line-height: 28px;
  border-radius: 2px;
  font-size: 14px; 
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.15px;
  font-weight: 500;

}

.header a.logo{
  font-size: 25px;
  font-weight: bold;
}

.header a:hover{
    font-color: #fcd088;
    border-bottom: 0.8px solid #fcd088;

    transition: 0.8s;
}

.header a.active{
  color: #fcd088;
}

.header button.active{
  color: #fcd088;
}

.nav-list li:last-of-type{
    width: 100%;
    float: left;
    display: block;
}

.vnavbar{
    width: 20%;
    height: 100vh;
    display: inline-block;
    float: left;
    position: fixed;
    top: 0;
}

.vbody{
    width: 80%;
    display: inline-block;
    float: right;
}

/*
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
*/

h8{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #35393d;
  margin:0px 0px 0px 20px;
  letter-spacing: 1.15px;
  font-weight: 150;
  font-style: italic;
  padding:5px;
}