{% extends 'header.html' %}
{% block content %}
{% load static %}
{% block extra_css %}
   
<link rel="stylesheet" href="{% static 'css/invoice.css' %}">
{% endblock %}

<div style="background-color: #f5f9f8; width: 100%; height=100%;">
        <h4>Invoice</h4>
</div>    
    
<div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="ino" class="filter__link filter__link--number" href="#">MachineID</a></div>
			<div class="header__item"><a id="cust" class="filter__link filter__link--number" href="#">Customer</a></div>
			<div class="header__item"><a id="component" class="filter__link filter__link--number" href="#">ComponentName</a></div>
			<div class="header__item"><a id="date" class="filter__link filter__link--number" href="#">Date</a></div>
			<div class="header__item"><a id="paid" class="filter__link filter__link--number" href="#">Count</a></div>
			<div class="header__item"><a id="bal" class="filter__link filter__link--number" href="#">Cost per part</a></div>
			<div class="header__item"><a id="due" class="filter__link filter__link--number" href="#">Total Amount</a></div>
		</div>

		<div class="table-content">
			{% for entry in orders %}
				<div class="table-row">
					<div class="table-data">{{ entry.MachineID }}</div>
					<div class="table-data">{{ entry.Customer }}</div>
					<div class="table-data">{{ entry.ComponentName }}</div>
					<div class="table-data">{{ entry.Date2 }}</div>
					<div class="table-data">{{ entry.Count }}</div>
					<div class="table-data">{{ entry.CostOfPart }}</div>
					<div class="table-data">{{ entry.TotalAmount }}</div>

				</div>
			{% endfor %}
		</div>



	</div>
</div>
    <a class="btn btn-full" href="../form/invoiceform.html">Add Invoice</a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--    <script  src="js/invoice.js"></script>-->
    <script  src="{% static 'js/invoice.js' %}"></script>

    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>

{% endblock %}
