<!DOCTYPE html>
{% load static %}
<html lang="en" >
	<head>
	  	<meta charset="UTF-8">
	  	<title>Maintenance Log</title>
		<link rel="stylesheet" href="{% static 'css/maintenanceStyle.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="table">
				<div class="table-header">
					<div class="header__item"><a id="mid" class="filter__link filter__link--number" href="#">Machine ID</a></div>
					<div class="header__item"><a id="date" class="filter__link filter__link--number" href="#">Date</a></div>
					<div class="header__item"><a id="time" class="filter__link filter__link--number" href="#">Time</a></div>
					<div class="header__item"><a id="details" class="filter__link filter__link--number" href="#">Details</a></div>
					<div class="header__item"><a id="comment" class="filter__link filter__link--number" href="#">Comments</a></div>
				</div>
				<div class="table-content">
					{% for entry in maintenanceLog %}
						<div class="table-row">
							<div class="table-data">{{ entry.MachineID }}</div>
							<div class="table-data">{{ entry.DateStamp }}</div>
							<div class="table-data">{{ entry.TimeStamp }}</div>
							<div class="table-data">{{ entry.Details }}</div>
							<div class="table-data">{{ entry.Comments }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		<link rel="stylesheet" href="{% static 'js/maintenanceJS.js' %}">
	</body>
</html>
