<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Asset Register</title>
    </head>

    <body width="1200" height="900">
        <form method="POST" >
            {% csrf_token %}
            <label><font color="black" size ="4"/>Facility Name:</label>
            <input type="text" name="FacilityName" id="FacilityName" required placeholder="Enter your facility name"/><br>
            <label><font color="black" size ="4"/>Factory Number:</label>
            <input type="text" name="FactoryNum" id="FactoryNum" required placeholder="Enter your factory number"/><br>
            <label><font color="black" size ="4"/>Production Line</label>
            <input type="text" name="Prodline" id="Prodline" required placeholder="Enter your production line"/><br>
            <label><font color="black" size ="4"/>Machine ID:</label>
            <input type="number" name="MachineID" id="MachineID" required placeholder="Machine ID"/><br>
            <label><font color="black" size ="4" />Machine Name: </label>
            <input type="text" name="Name" id="Name" required placeholder="Enter machine name"/><br>
            <br>
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>